.hero-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-content-h1{
    font-family: var(--header-font-size-1);
    text-align: center;
    font-size: 64px;
    margin-top: 64px ;
}
.hero-section h5 {
    font-family: var(--header-font-size-1);
    text-align: center;
    color: var(--gray);
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}
.hero-contact-us-btn {
    
}
@media (max-width: 900px){
    .hero-section{
        gap: 24px;
    }
    
    .main-content-h1{

        font-size: 40px;
        margin-top: 64px ;
    }
    .hero-section h5 {
        font-size: var(--header-font-size-1);
        line-height: 26px;
        font-weight: 400;
    }
}