.hero-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 24px; */
    margin: auto;
    row-gap: 24px;
    /* overflow-x: hidden; */
    /* height: 100vh; */
}

.main-content-h1{
    font-family: var(--primary-font);
    text-align: center;
    font-size: 64px;
    margin-top: 64px ;
}
.hero-section h5 p {
    font-family: var(--primary-font);
    text-align: center;
    color: var(--gray);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    display: inline-block;/* for the animation  */
    margin-left: 1.5px;
}

@media (max-width: 900px){
    .hero-section{
        gap: 24px;
    }
    
    .main-content-h1{

        font-size: 40px;
        margin-top: 64px ;
    }
    .hero-section h5 {
        font-family: var(--primary-font);
        line-height: 26px;
        font-weight: 400;
    }
}