body {
    cursor: wait;
}

.preloader-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--primary-color); */
    color: black;
    /* background-color: var(--primary-backgroud); */
    /* background-color: rgb(19, 6, 6); */
    background-color: whitesmoke ;
}
.preloader-text {
    font-size: 43px;
    font-family: var(--tenary-fonts);   
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.preloader-text span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
        margin-right: 10px;
}
