* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root{
    --primary-backgroud: #000000;
    --secondary-backgroud: #ffff;
    --primary-color: #ffff;
    --secondary-color: #000000;
    --gray: #6E6E6E;
    --secondar-gray: #373737;
    --header-font-size-1: 15px;
    --feedback-color: #BF5540;
    --preloader-background: #141516;
    /* #ECECEC  i used this for service, cto2 h3 */

    --primary-font: "Inter",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Times New Roman', Times, serif, cursive;
    --secondary-font: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Times New Roman', Times, serif, cursive;
    --tenary-fonts: "Montserrat",'Times New Roman', Times, serif, cursive;
    /* --ternary-font:  */
}

body {
    background-color: var(--primary-backgroud);
    /* background-color: #161616; */

    color: var(--primary-color);

}


