* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-backgroud: #000000;
    --secondary-backgroud: #ffff;
    --primary-color: #ffff;
    --secondary-color: #000000;
    --gray: #6E6E6E;
    --secondar-gray: #373737;
    --header-font-size-1: 15px;
    /* #ECECEC  i used this for service, cto2 h3 */

    --primary-font: "Inter", cursive;
    --secondary-font: "Poppins", cursive;
    --tenary-fonts: "Montserrat", cursive;
    /* --ternary-font:  */
}

body {
    background-color: var(--primary-backgroud);
    color: var(--primary-color);
}


